.main-bar{
   background:#ff4c68;
   color:#fff;
}
.logo{
   border-radius: 100%;
}
.barTitle{
   font-family: Ubuntu, sans-serif;
   font-size: 2.5rem;
   font-weight: bold;
   padding-left: 10px;
}
.links{
   font-size: 1.2rem;
   font-family: Ubuntu ,sans-serif;
   text-decoration: none;
}
.Title{
   font-family: Ubuntu, sans-serif;
   font-size: 3.5rem;
   font-weight: bold;
   text-align: center;
}
.Sort{
   font-family: Ubuntu, sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
}
.SignInAll{
   font-family: Ubuntu, sans-serif;
}
.SignUpAll{

   font-family: Ubuntu, sans-serif;
}
.card-img-top{
   border-radius: 20%;
   height: 120px;
}
.footer {
   background-color: #ff4c68;
   padding: 50px;
   text-align: center;
}
