.main-bar{
   background:#ff4c68;
   color:#fff;
}
.logo{
   border-radius: 100%;
}
.barTitle{
   font-family: Ubuntu, sans-serif;
   font-size: 3.5rem;
   font-weight: bold;
   padding-left: 10px;
}
.btn{
   background-color: #ffffff;
   border: none;
   padding: 12px 16px;
   font-size: 16px;
}
.btn:hover {
   background-color: #ffffff;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.links{
   font-size: 1.2rem;
   font-family: Ubuntu ,sans-serif;
   text-decoration: none;
}
.Title{
   font-family: Ubuntu, sans-serif;
   font-size: 3.5rem;
   text-align: center;
}
.Sort{
   font-family: Ubuntu, sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
}
.SignInAll{
   font-family: Ubuntu, sans-serif;
}
.SignUpAll{

   font-family: Ubuntu, sans-serif;
}
.card-img-top{
   border-radius: 20%;
   height: 120px;
}
.footer {
   padding: 30px;
   background-color: #ff4c68;
   color:#fff;

}
.footerTitle{
   font-family: Ubuntu, sans-serif;
   font-size: 1.5rem;
   text-align: left;
   font-weight: bold;
}
.icons{
   text-align: right;
}
