.All{
  background: white;
  font-family: Aharoni sans-serif;
}
.Title{
  background: white;
  text-align: center;
  font-style: italic;
}
.Sort {
  text-align: center;
  font-style: italic;
  background: white;
}
.Conversion{
  text-align: center;
}
#convertButton {
  background-color: gold;
  border: solid black;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px 10px;
}
#printButton {
  background-color: white;
  border: solid black;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px 10px;
}
#searchInput{
  border-radius: 5px 10px;
  border: solid black;
}

.App-link {
  color: #61dafb;
}
@media print {
  .products  { display:inline-list-item}
.Sort{display: none;}
.Conversion{display: none;}
.Title{display:none; }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: gold;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;
}
.card-img-top{
  height: 120px;
}
